.slider {
    position: relative;
    top: 45%;
    left: 20%;
    width: 700px;
    height: 10%;
    margin: 5px;
    background-color: crimson;
}

.commentBox {
    position: relative;
    top: 45%;
    left: 20%;  
    width: 700px; 
    margin: 5px;
}

.commentEnter {
    position: relative;
    top: 35.75%;
    left: 69.5%;
    width: 70px;
    /* background-color: rebeccapurple; */
}

.commentBox label {
    position: absolute;
    top: 10px;  /* input 요소의 border-top 설정값 만큼 */
    bottom: 1px;
    left: 240px;  /* input 요소의 border-left 설정값 만큼 */
    padding: .8em .5em;  /* input 요소의 padding 값 만큼 */
    color: #999;
    cursor: text;
    font-size: 20;
}

.commentBox input[type="text"] {
    width: 100%;  /* 원하는 너비 설정 */ 
    height: 20px;  /* 높이값 초기화 */
    line-height : 20px;  /* line-height 초기화 */
    padding: .10em .5em; /* 원하는 여백 설정, 상하단 여백으로 높이를 조절 */
    font-size: 20;
    /* border: 1px solid #999; */
    border-radius: 0;  /* iSO 둥근모서리 제거 */
    outline-style: none;  /* 포커스시 발생하는 효과 제거를 원한다면 */
    -webkit-appearance: none;  /* 브라우저별 기본 스타일링 제거 */
    -moz-appearance: none;
    appearance: none;
}

.commentEnter input[type="button"] {
    width: 100%;  
    height: 8.7%;
    background-color: tomato; 
    border: none;
    font-size: 1em;
    color: white;
    outline: none;
    display: inline;
    box-sizing: border-box;
}

input[type=button]:hover{
    background-color: blueviolet;
}